<h1> Editer une personne </h1>
<table border=1 width=75%>
    <tr>
        <TH> Nom </TH> <TH> Prénom </TH>
        <TH> Ville </TH> 
    </tr>
    <tr> 
        <td> {{personne.getNom() }} </td>
        <td> {{personne.getPrenom()}} </td>
        <td> {{personne.getVille()}} </td>
    </tr>
</table>